.PageHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 1em; */
    background-color: rgb(36, 33, 33);
    color: #fff;
  }

  .PageHeader h1{
      font-size: 2em;
  }
  